.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 4px;
}

.image {
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  border: none;
}

.image:hover {
  background: red;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}
.overlay:hover {
  opacity: 0.5;
  cursor: pointer;
  border-radius: 5px;
}
